
<section>
<h1>博客<abbr title="The word '博客' is a registered trademark of DENSO WAVE INCORPORATED. It applies only for the word '博客', not for image.">&trade;</abbr></h1>
<a href="{{ site.url }}{{ page.url }}"><img src="http://chart.apis.google.com/chart?chs=150x150&cht=qr&chld=|0&chco=165B94&chl={{ site.url }}{{ page.url }}" alt="post-qrcode"></a></section>


<section>
    <h1>github<abbr title="The word 'github' is a registered trademark of DENSO WAVE INCORPORATED. It applies only for the word 'github', not for image.">&trade;</abbr></h1>
    <a><img src="/images/iCocosgithub.png" alt="post-qrcode"></a></section>


<section>
<h1>微信<abbr title="The word '微信' is a registered trademark of DENSO WAVE INCORPORATED. It applies only for the word '微信', not for image.">&trade;</abbr></h1>
<a><img src="/images/iCocosWX.png" alt="post-qrcode"></a></section>


<section>
<h1>公众号<abbr title="The word '公众号' is a registered trademark of DENSO WAVE INCORPORATED. It applies only for the word '公众号', not for image.">&trade;</abbr></h1>
<a><img src="/images/iCocosMGC.png" alt="post-qrcode"></a><section>
  
  
</section>
<h1>公众号<abbr title="The word '公众号' is a registered trademark of DENSO WAVE INCORPORATED. It applies only for the word '公众号', not for image.">&trade;</abbr></h1>
<a><img src="/images/iCocos520.png" alt="post-qrcode"></a></section>
