<!--返回顶部开始-->
<div id="full" style="width:0px; height:0px; position:fixed; right:180px; bottom:150px; z-index:100; text-align:center; background-color:transparent; cursor:pointer;">
    <a href="#" onclick="goTop();return false;"><img src="http://image.baidu.com/search/detail?ct=503316480&z=0&ipn=d&word=回到顶部&step_word=&pn=3&spn=0&di=14391083080&pi=&rn=1&tn=baiduimagedetail&is=&istype=0&ie=utf-8&oe=utf-8&in=&cl=2&lm=-1&st=-1&cs=4258372507%2C2734231700&os=3947754922%2C136932519&simid=4223332661%2C624470004&adpicid=0&ln=1991&fr=&fmq=1448786590262_R&ic=0&s=undefined&se=&sme=&tab=0&width=&height=&face=undefined&ist=&jit=&cg=&bdtype=0&objurl=http%3A%2F%2Fwww.iconpng.com%2Fpng%2Frrze%2Fgo-top.png&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Btv5grg2_z%26e3Bv54AzdH3Ftv5gfAzdH3Fmnm&gsm=0" border=0 alt="返回顶部"></a>
</div>
<script src="/javascripts/top.js" type="text/javascript"></script>
<!--返回顶部结束-->