// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


html {
background: #555555 url("/images/bg3.jpg");
//background: #555555;
}

body > div {
background-image: none;
//background: #F5F5D5
} //侧边栏

body > div > div { //文章内容
background-image: none;
//background: #F5F5D5;
//background: url("/images/bg.jpg");
}


//倒圆角
@media only screen and (min-width: 1040px) {
body > nav {
@include border-top-radius(.4em);
}

body > footer {
@include border-bottom-radius(.4em);
}
}